header{
    background-color: rgba(7, 24, 122, 0.747);
    display: flex;
    width: 100%;
    height: 70px;
    align-items: center;
    border-radius: 10px;
    
}
nav{
    display: flex;
    align-items: center;
    border-radius: 15px;
    border-top: 50px;
    background-color: #daec37;
    display: flex;
    width: 100%;
    height: 60px;
    align-items: center;
    margin-top: 10px;
  }
  p{
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
    font-size: 21px;
    color: black;
}

body{
    background-color: gray;
}
.letra1{
    margin-right: 350px;
    margin-left: 15px;
}
aside{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-top: 10px;
    background-image: url(../banco.jpg);
    background-position: center center;
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;
    height: 550px;
    margin-top: 10px;
    border-radius: 10px;

}
.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 260px;
    background-color: rgb(40, 189, 235);
    border-radius: 10px;
   margin-top: 100px;

}
.content h1{
   text-align: center;
   padding: 0 0 20px 0;
   border-bottom: 1px solid rgb(44, 43, 43);
}
.content form{
    padding: 0 40px;
    box-sizing: border-box;

}
.buttons{
    align-self: center;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  
}
.buttons button{
    
    background-color: blueviolet;
    border-radius: 15px;
    width: 250px;
    height: 40px;
    justify-items: center;
}
input{
    color: rgb(0, 0, 0);
    background-color: rgb(192, 226, 43);
}
label{
    font-size: 21px;
}
h1{
    font-size: 28px;
}







